<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Test De Apis</title>
    <link rel="stylesheet" href="styless2.css">
</head>

<body>

    <h2>Pruebas API Producto</h2>

    <hr>

    <h3>GET por ID</h3>
    <input type="number" id="getId" placeholder="ID">
    <button onclick="testGetById()">Consultar</button>

    <hr>

    <h3>Listar todos</h3>
    <button onclick="testBuscar()">Buscar</button>

    <hr>

    <h3>Crear Producto (POST)</h3>
    <input type="text" id="postNombre" placeholder="Nombre">
    <input type="text" id="postPrecio" placeholder="Precio">
    <input type="text" id="postStock" placeholder="Stock">
    <button onclick="testPost()">Crear</button>

    <hr>

    <h3>Actualizar Producto (PUT)</h3>
    <input type="number" id="putId" placeholder="ID">
    <input type="text" id="putNombre" placeholder="Nuevo Nombre">
    <input type="text" id="putPrecio" placeholder="Nuevo Precio">
    <input type="text" id="putStock" placeholder="Nuevo Stock">
    <button onclick="testPut()">Actualizar</button>

    <hr>

    <h3>Eliminar Producto (DELETE)</h3>
    <input type="number" id="deleteId" placeholder="ID">
    <button onclick="testDelete()">Eliminar</button>

    <hr>

    <pre id="resultado"></pre>

    <script src="posibles_endpoints.js"></script>

    <script>

        function testGetById() {
            const id = document.getElementById("getId").value;

            getById(id)
                .then(data => mostrar(data))
                .catch(error => alert(error));
        }

        function testBuscar() {
            listar()
                .then(data => mostrar(data))
                .catch(error => alert(error));
        }

        function testPost() {
            const nombre = document.getElementById("postNombre").value;
            const precio = document.getElementById("postPrecio").value;
            const stock = document.getElementById("postStock").value;

            crear(nombre, precio,stock)
                .then(data => mostrar(data))
                .catch(error => alert(error));
        }

        function testPut() {
            const id = document.getElementById("putId").value;
            const nombre = document.getElementById("putNombre").value;
            const precio = document.getElementById("putPrecio").value;
            const stock = document.getElementById("putStock").value;

            actualizarPersonalizada(id, nombre, precio, stock)
                .then(data => mostrar(data))
                .catch(error => alert(error));
        }

        function testDelete() {
            const id = document.getElementById("deleteId").value;

            eliminar(id)
                .then(() => mostrar("Eliminado correctamente"))
                .catch(error => alert(error));
        }

        function mostrar(data) {
            document.getElementById("resultado").textContent =
                JSON.stringify(data, null, 2);
        }
    </script>

    

</body>

</html>